

/* .Card{
   border: 'none';
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */
.Box-Card{
   border: none !important;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 20px !important;
   position: static !important;
   bottom: 20px !important;
}